<form action="/" method="post">
<div>
    <label for="nombre">Nombre</label>
<input type="text" name="nombre" id="nombre">
</div>

<div>
    <label for="correo">Correo</label>
<input type="text" name="correo" id="correo">
</div>

<button type="submit">Login</button>
</form>