<script src="https://cdn.tailwindcss.com"></script>
<div class="flex justify-center items-center h-screen">
    <div class="grid gap-9">
        <h1 class="text-white text-5xl">Join room</h1>
        <input type="text" placeholder="Your name"
            class="w-full focus:outline-none focus:placeholder-gray-400 text-gray-100 placeholder-gray-300 pl-12 bg-zinc-700 rounded-md py-3" />
        <button type="button"
            class="inline-flex items-center justify-center rounded-lg px-4 py-3 transition duration-500 ease-in-out text-black bg-brand-color hover:bg-blue-400 focus:outline-none">
            <span class="font-bold">Join</span>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                class="h-6 w-6 ml-2 transform rotate-90">
                <path
                    d="M10.894 2.553a1 1 0 00-1.788 0l-7 14a1 1 0 001.169 1.409l5-1.429A1 1 0 009 15.571V11a1 1 0 112 0v4.571a1 1 0 00.725.962l5 1.428a1 1 0 001.17-1.408l-7-14z">
                </path>
            </svg>
        </button>
        
    </div>

